{%extends "layout.html"%}

{%block title%}
Home
{% endblock%}


{% block main %}
{% for i in animal%}
<div class="d-flex bd-highlight">
    <div class="p-2 flex-fill bd-highlight" style="background-color: gray; border: 5px solid white;"><p ><h1>Pet pic:</h1> <img src="/static/images/{{i['image']}}"class="img-fluid" alt="dog" style="width: 200px;height:200px ;"></p></div>
    <div class="p-2 flex-fill bd-highlight" style="background-color: gray; border: 5px solid white;"><p><h1>name :</h1> {{i["name"]}}  <br> <br> <h1>gender :</h1> {{i["gender"]}}</p></div>
    <div class="p-2 flex-fill bd-highlight" style="background-color: gray; border: 5px solid white;"><p><h1>type :</h1> {{i["type"]}}   <br> <br> <h1>birthday :</h1> {{i["birthday"]}}</p></div>
    <div class="p-2 flex-fill bd-highlight" style="background-color: gray; border: 5px solid white;"><p><h1>Contact :</h1> {{i["email"]}} <br> <br> <h1>Address : </h1> {{i["address"]}}</p>
    <a href="/Adopt?id={{i['animal_id']}}" class = "btn btn-outline-dark"> Adopt</a></div>
  </div>
{%endfor%}

{%endblock%}